.footer {
    display: flex;
    padding: 2rem;
    background: #333;
    color: #fff;
    }
    
    .links,
    .sociallinks {
    display: flex;
    align-items: center;
    }
    
    .links a {
    color: #fff;
    margin-right: 1rem;
    }
    
    .sociallinks a {
    margin-right: 0.5rem;
    }
    
    .sociallinks img {
    width: 1.5rem;
    }
    
    .copyright {
    margin: auto;
    }
    
    @media (max-width: 700px) {
    .footer {
    flex-direction: column;
    }
    
    .links,
    .sociallinks {
    flex-direction: column;
    }
    
    .links a {
    margin: 0.5rem 0;
    }
    
    .sociallinks a {
    margin: 0.25rem 0;
    }
    }