.form {
    display: flex;
    gap: 20px;
    margin: auto;
  }
  
  .image {
    flex: 1;
    
  }
  
  .image img {
    margin: auto;
    height: 27vw;
    width: 27vw ;
    max-width: 32em;
    max-height: 32em;
    object-fit: cover;
  }
  
  .details {
    flex: 2;
    padding: 20px;

    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    margin-bottom: 5px;  
  }
  
  .field input,
  .field select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;  
  }
  
  .submit {
    align-self: flex-end;
  }
  
  .submit Button {
    height: 10%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

.product{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2%;
}

.order{
    margin: auto;
}

.count{
    padding: 1em 0em 1em 0em;
}
  
  @media (max-width: 767px) {
    .form {
      flex-direction: column;
    }
    
    .image {
      margin-bottom: 20px;
    }
  }