.item {
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  }
  
  .item h2{
  text-align: center;
  margin-bottom: 0.5%;
  margin-top: 1%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.1);
  background-color: #6e6e6e;
  color: rgb(222, 222, 222);
  border-radius: 0.4rem;
  }
  
  .item h3 {
  text-align: center;
  margin-bottom: 0.5%;
  padding: 1rem 2rem;
  border: none;
  background-color: #6e6e6e;
  color: rgb(222, 222, 222);
  border-radius: 0.4rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.1);
  }
  
  .item h3:hover {
  color: black;
  transition: color 0.3s;
  text-shadow: 0.1rem 0.1rem 0.1rem #696969;
  cursor: pointer;
  }
  
  .item p {
  cursor: default;
  border-radius: 0.4rem;
  margin: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border: 0.1rem solid #999;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0.1rem rgba(0,0,0,0.1);
  }
  
  .imageswrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .imageswrapper img {
  border: none;
  width: 20em;
  height: 20em;
  object-fit: cover;
  margin: 1%;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.1);
  transition:  0.2s;
  }
  
  .imageswrapper img:hover {
  transform: scale(1.05);
  }
  
  .imageswrapper img:hover::after {
  content: attr(alt);
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
  }